MONGO_URI=mongodb://127.0.0.1:27017
MONGO_DB=hiring_db

QDRANT_URL=http://localhost:6333
QDRANT_COLLECTION=candidates

EMBEDDING_DIMENSION=768

# DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO


# email configuration
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USERNAME=your-email@gmail.com
SMTP_PASSWORD=your-app-password
EMAIL_FROM=your-email@gmail.com